Repository meauxbility/SUPABASESUPERCHARGE, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add dual routing: home page + admin dashboard
  admin/index.html
  admin/script.js
  admin/styles.css
  api/healthz.js
  integration-plan.md
  package.json
  render.yaml
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Trigger deployment: update build command for dual routing
  render.yaml
Owners: @brandonprimeaux, @teammate

Force deployment: update rootDir configuration
  render.yaml
Owners: @brandonprimeaux, @teammate

Add bulletproof render.yaml for dual routing deployment
  render-new.yaml
Owners: @brandonprimeaux, @teammate

Fix deployment issues: simplify build and start commands
  render-new.yaml
Owners: @brandonprimeaux, @teammate

Fix: Use proper render.yaml for deployment configuration
  render.yaml
Owners: @brandonprimeaux, @teammate

Add home + preserve admin
  home/admin/index.html
  home/admin/script.js
  home/admin/styles.css
  home/assets/css/footer.css
  home/assets/js/footer.js
  home/index.html
  home/package.json
  render-final.yaml
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

fix: resolve YAML formatting error in release workflow
  .github/workflows/release.yaml
Owners: @brandonprimeaux

🚀 Launch: Complete Meauxbility.com Multi-Page Site
  .github/workflows/ci.yml
  fred/about.html
  fred/community.html
  fred/components/header.html
  fred/connect.html
  fred/css/global.css
  fred/css/header.css
  fred/donate.html
  fred/index.html
  fred/js/load-components.js
  fred/js/navigation.js
  fred/programs.html
  fred/resources.html
  package.json
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Create chatgpt-trigger.yml
  .github/workflows/chatgpt-trigger.yml
Owners: @brandonprimeaux

.github/CODEOWNERS:

# Code owners for Meauxbility repository
# This file defines who can review and approve changes

# Global owners
* @brandonprimeaux

# Core team members
* @brandonprimeaux @teammate

# AI Agent access (read-only for most files)
*.js @ai-agent-primary
*.ts @ai-agent-primary
*.json @ai-agent-primary

# Security-related files
.github/workflows/ @brandonprimeaux @teammate
hooks/ @brandonprimeaux @teammate
scripts/ @brandonprimeaux @ai-agent-primary

# Configuration files (restricted)
package.json @brandonprimeaux
env.example @brandonprimeaux
.gitignore @brandonprimeaux

# Documentation (team can edit)
*.md @brandonprimeaux @teammate @ai-agent-primary
docs/ @brandonprimeaux @teammate @ai-agent-primary

# Security and access control
.github/ @brandonprimeaux
hooks/ @brandonprimeaux
scripts/security-* @brandonprimeaux
