Repository meauxbility/SUPABASESUPERCHARGE, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brandonprimeaux, @teammate, @ai-agent-primary

.github/CODEOWNERS:

# Code owners for Meauxbility repository
# This file defines who can review and approve changes

# Global owners
* @brandonprimeaux

# Core team members
* @brandonprimeaux @teammate

# AI Agent access (read-only for most files)
*.js @ai-agent-primary
*.ts @ai-agent-primary
*.json @ai-agent-primary

# Security-related files
.github/workflows/ @brandonprimeaux @teammate
hooks/ @brandonprimeaux @teammate
scripts/ @brandonprimeaux @ai-agent-primary

# Configuration files (restricted)
package.json @brandonprimeaux
env.example @brandonprimeaux
.gitignore @brandonprimeaux

# Documentation (team can edit)
*.md @brandonprimeaux @teammate @ai-agent-primary
docs/ @brandonprimeaux @teammate @ai-agent-primary

# Security and access control
.github/ @brandonprimeaux
hooks/ @brandonprimeaux
scripts/security-* @brandonprimeaux

feat: add Claude.ai integration with comprehensive setup and team collaboration
  CLAUDE_AI_INTEGRATION.md
  CLAUDE_QUICK_SETUP.md
  env.example
  package.json
  scripts/claude-integration.js
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

fix: update pre-push hook regex pattern for commit message validation
  hooks/pre-push
Owners: @brandonprimeaux

fix: correct regex pattern in pre-push hook for commit message validation
  hooks/pre-push
Owners: @brandonprimeaux

fix: simplify commit message validation in pre-push hook
  hooks/pre-push
Owners: @brandonprimeaux

feat: add Shopify custom build project structure with modal system and API integration
  .github/workflows/claude-review.yml
  CLAUDE.md
  PROJECT_SETUP_GUIDE.md
  shopify-custom-build/package.json
  shopify-custom-build/src/api/ApiManager.js
  shopify-custom-build/src/modals/ModalManager.js
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: add quick start guide for team onboarding and project setup
  QUICK_START.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: create comprehensive master prompt for team operations and company growth
  MASTER_PROMPT.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: create gangsta dark-themed admin portal with interactive to-do system
  admin-portal/index.html
  admin-portal/script.js
  admin-portal/styles.css
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

chore(secrets): add macOS Keychain helper and CI/secret guardrails
  .cursor/commands/vault.md
  .github/workflows/ci.yml
  .gitignore
  README.md
  admin-portal/BADASS dashboard- install!.html
  config/gitleaks.toml
  docs/SECURITY.md
  package.json
  scripts/bootstrap.sh
  scripts/generate-env-local.sh
  scripts/keychain.sh
  scripts/secrets-check.sh
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: add Supabase schema, health check, and deployment configs
  API_CONFIGURATION_RECEIPT.txt
  apps/proxy/src/routes/health.ts
  supabase-schema.sql
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add complete Meauxbility Supabase schema package
  API_KEYS_MASTER_TEMPLATE.txt
  QUICK_START.md
  README.md
  functions/003_functions_triggers.sql
  migrations/001_initial_schema.sql
  migrations/006_add_backup_emails.sql
  policies/002_rls_policies.sql
  scripts/keychain.sh
  seeds/005_seed_data.sql
  storage/004_storage_buckets.sql
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: Add complete AI integrations package
  ai-integrations/README.md
  ai-integrations/ai_workflow_setup.md
  ai-integrations/chatgpt_supabase_integration.js
  ai-integrations/claude_supabase_integration.js
  ai-integrations/package.json
  ai-integrations/setup-integrations.js
  ai-integrations/team_chatgpt_integration.js
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: Add secure Supabase key storage system
  SECURE_KEY_SETUP.md
  env.template
  scripts/keychain-helper.sh
  scripts/secure-key-storage.sh
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: Add GitHub Secrets integration and deployment workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  GITHUB_SECRETS_SETUP.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: Add Supabase-integrated admin portal
  admin-portal/index.html
Owners: @brandonprimeaux, @teammate

Revise API keys and email delivery instructions
  README.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Enhance README with master index and setup details
  README.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Expand README with Meauxbility business dossier
  README.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Update README.md
  README.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add production deployment guide for meauxbility.com
  README.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add complete Meauxbility Supabase schema package
  .github/workflows/claude-review.yml
  admin-portal/index-minified.html
Owners: @brandonprimeaux, @teammate

Create index.html
  index.html
Owners: @brandonprimeaux, @teammate

Update README.md
  README.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: Add dashboard implementations and edge functions
  DASHBOARD_DEPLOYMENT.md
  apps/dashboard-gh-pages/index.html
  apps/dashboard-gh-pages/main.js
  apps/dashboard-gh-pages/package.json
  apps/dashboard-gh-pages/vite.config.js
  apps/dashboard-render/lib/supabaseClient.ts
  apps/dashboard-render/next.config.js
  apps/dashboard-render/package.json
  apps/dashboard-render/pages/_app.tsx
  apps/dashboard-render/pages/index.tsx
  edge-functions/agent_gateway/index.ts
  edge-functions/asset_signer/index.ts
  footer.html
  migrations/007_dashboard_schema.sql
  stripe-config.js
  test-stripe.html
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: Configure Supabase production credentials
  .github/workflows/render-deploy.yml
  API_CONFIGURATION_RECEIPT.txt
  MEAUXBILITY_COM_SETUP.md
  README.md
  RENDER_DEPLOYMENT_SETUP.md
  STANDALONE_SITE_SETUP.md
  apps/dashboard-render/pages/app.tsx
  apps/dashboard-render/pages/index.tsx
  apps/dashboard-render/pages/marketing.tsx
  apps/dashboard-render/pages/test-supabase.tsx
  index.html
  render-env-template.txt
  scripts/collect-service-credentials.sh
  scripts/deploy-standalone-site.sh
  scripts/deploy-to-meauxbility-com.sh
  scripts/setup-render-deployment.sh
  scripts/setup-supabase-env.sh
  scripts/test-deployment.sh
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

fix: Remove hardcoded Stripe API keys from stripe-config.js
  stripe-config.js
Owners: @ai-agent-primary

Update Supabase connection comment with credentials
  apps/proxy/src/routes/health.ts
Owners: @ai-agent-primary

chore(render): add render blueprint and env scaffolding
  render.yaml
Owners: @brandonprimeaux, @teammate

feat: complete render deployment configuration
  RENDER_DEPLOYMENT_GUIDE.md
  apps/dashboard-render/package.json
  apps/dashboard-render/pages/api/healthz.ts
  env.example
  scripts/deploy-to-render.sh
  scripts/simple-supabase-test.js
  scripts/verify-supabase.js
  supabase-asset-signer-config.md
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

feat: add Supabase asset signer security configuration
  apps/dashboard-render/lib/asset-signer.ts
  render.yaml
  scripts/finalize-deployment.sh
  supabase-rls-policies.sql
  supabase-security-config.md
Owners: @ai-agent-primary, @brandonprimeaux, @teammate

Revamp index.html for Meauxbility Admin Portal
  index.html
Owners: @brandonprimeaux, @teammate

Complete meauxbility.com deployment with landing page, admin portal, and premium Shopify footer
  apps/dashboard-render/components/Layout.tsx
  apps/dashboard-render/pages/admin.tsx
  apps/dashboard-render/pages/index.tsx
  apps/dashboard-render/styles/footer.css
Owners: @brandonprimeaux, @teammate

feat: trigger live deployment test
  apps/dashboard-render/pages/index.tsx
Owners: @brandonprimeaux, @teammate

feat: add complete navigation pages from meauxbility.org footer
  apps/dashboard-render/pages/about-sam.tsx
  apps/dashboard-render/pages/apply-for-funding.tsx
  apps/dashboard-render/pages/contact.tsx
  apps/dashboard-render/pages/faq.tsx
  apps/dashboard-render/pages/team.tsx
Owners: @brandonprimeaux, @teammate

fix: add missing TypeScript config and Supabase client
  SITE_STRUCTURE_OVERVIEW.md
  WEB_SERVICE_DEPLOYMENT.md
  apps/dashboard-render/lib/supabase.ts
  apps/dashboard-render/next.config.js
  apps/dashboard-render/pages/_app.tsx
  apps/dashboard-render/tsconfig.json
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

test: add deployment test page to verify build
  apps/dashboard-render/pages/test.tsx
Owners: @brandonprimeaux, @teammate

feat: add Claude Supabase Supercharge AI agents
  .github/workflows/ai-development.yml
  AI_AGENTS_README.md
  DEPLOYMENT_FIX_GUIDE.md
  SUPABASESUPERCHARGE.env
  ai-agents/claude-supercharge.js
  ai-agents/package.json
  scripts/setup-ai-agents.sh
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add Meauxbility footer integration for Render static site
  RENDER_STATIC_SITE_DEPLOYMENT.md
  ai-agents/claude-supercharge.js
  footer.css
  footer.html
  footer.js
  index.html
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add premium footer component to Inner Animals
  .cursor/rules/environment-config.mdc
  API_KEYS_2D_SKETCH.txt
  API_KEYS_COLLECTION_GUIDE.md
  API_KEYS_MASTER_COLLECTION.md
  COMPLETE_API_KEYS_INVENTORY.md
  DNS_MIGRATION_GUIDE.md
  GOOGLE_DOMAINS_DNS_FIX.md
  assets/css/footer.css
  assets/js/footer.js
  scripts/collect-all-keys.sh
Owners: @brandonprimeaux, @teammate, @ai-agent-primary

Add comprehensive release workflow
  .github/workflows/release.yaml
Owners: @brandonprimeaux
